<form style="display: inline;">
    <div class="input-group mb-3">
        <p>{{ restaurant.name }}</p>
    </div>
    <div class="input-group mb-3">
        <p>{{ restaurant.description }}</p>
    </div>
</form>