
{{>message}}
<ul class="list-group">
    {{#each restaurants}}
    <li class="list-group-item">
        <div class="row">
            <div class="col-auto mr-auto">
                <h4 style="display: inline; vertical-align: middle;">
                    {{ this.name }}
                </h4>
            </div>
            <div class="col-auto">
                <a class="btn btn-secondary" href="./detail/{{ this._id }}">detail</a>
       
            </div>
        </div>
    </li>
    {{/each}}
</ul>